@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
  font-family: "Poppins", sans-serif;
  color: #111;
  background-color: #eee;
} 

.homebody {
  animation: fade ease 1s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
}

@keyframes fade { 
  0% { 
    opacity: 0; 
  }
  100% {
    opacity: 1;
  }
}

body:hover {
  cursor: text;
}

aside {
  width: 40vh;
  margin: auto;
  background-color: #ffdc56;
  padding: 50px;
  padding-top: 30px;
  text-align: left;
  border-radius: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #111;
  transition: 0.3s;
  min-height: 40vh;
}

.info {
  width: 80vw;
  margin: auto;
  background-color: #ccc;
  padding: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: left;
  border-radius: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #111;
  transition: 0.3s;
  min-height: 5vh;
}


h1 {
  text-transform: uppercase;
  font-size: 56px;
  font-weight: 700;
  margin-block-start: 0.95em;
}

::selection {
  background-color: #aaccff;
  color: black;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 40px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666; 
}

.hom {
  display: block;
}

.som {
  display: none;
}

@media (max-width: 825px) {
  h1 {
    line-height: 60%;
    margin-block-end: 0.25em;
  }
  
  aside {
    width: 50vh;
    min-height: 40vh;
  }
  .info {
    width: 50vh;
  }
  .hom {
    display: none;
  }
  .som {
    display: block;
  }
}

@media (pointer: coarse) {
  aside {
    position: relative;
    width: 800px;
    text-align: center;
    min-height: 675px;
  }
  .info {
    width: 800px;
  }
  .text {
    display: block;
    width: 90vw;
    margin: auto;
  }
  img {
    padding-bottom: 0vw;
  }
  h1 {
    margin-block-end: 0.25em;
    font-size: 86px;
  }
  h2 {
    font-size: 66px;
  }
  h3 {
    font-size: 56px;
  }
  h4 {
    font-size: 50px;
  }
  p {
    font-size: 46px;
  }
  blockquote {
    font-size: 40px;
    border: 13px solid #333;
  }
  .hom {
    display: none;
  }
  .som {
    display: block;
  }
}

@media (max-width: 650px) {
  h1 {
    font-size: 40px;
  }
}



/*@media (prefers-color-scheme: dark) {
  body {
    color: #f7f7f7;
    background-color: #111;
  }
  aside {
    background-color: #222;
    color: #f7f7f7;
  }
  aside section {
    color: #f7f7f7;
  }
}*/

